<h1>Pagina de login</h1>


<form action="/login" method="POST" >
<div>
    <label for="email"> Email:</label>
    <input type="text" name='email' placeholder="Digite o seu email">
</div>

<div>
    <label for="senha"> Senha:</label>
    <input type="password" name='senha' placeholder="Digite sua senha">
</div>

<div>

<input type="submit" value="Entrar">
</div>
</form>
<a href="/cadastro"><button>Cadastrar</button></a>
